<!-- protected.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Protected</title>
</head>
<body>
    <h1>Protected</h1>
    <button id="logout-button">Logout</button>

    <script>
        document.getElementById("logout-button").addEventListener("click", function() {
            const token = localStorage.getItem('token');
            if (token) {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/logout", true);
                xhr.setRequestHeader("Authorization", token);
                
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        localStorage.removeItem('token');
                        window.location.href = "/login";
                    } else {
                        console.log("Logout request failed");
                    }
                };
                
                xhr.send();
            }
        });
    </script>
</body>
</html>
